@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif&display=swap");
html {
  height: 100%;
}

body {
  background: #173F5F;
  word-wrap: break-word;
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.main-box {
  background: #ddd;
  margin: 10px auto;
  max-width: 100%;
  padding: 30px;
  width: 668px;
  border: 0;
  -webkit-box-shadow: 0 0 4px 1px;
          box-shadow: 0 0 4px 1px;
  padding-bottom: 10px;
}

h1 {
  font-size: 30px;
  position: relative;
  display: inline;
}

.image {
  float: right;
  padding-left: 30px;
}

.image img {
  width: 200px;
  border: 2px black solid;
  -webkit-box-shadow: 0 0 5px 0px;
          box-shadow: 0 0 5px 0px;
}

a {
  color: #222;
}

a:hover {
  color: #444;
}

.page-header {
  margin: 10px auto;
  max-width: 100%;
  padding: 10px 30px;
  width: 668px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.title {
  display: inline-block;
  font-size: 28px;
  font-family: 'PT Serif', serif;
  margin-right: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav-links {
  display: inline-block;
  margin-left: 0;
  margin-right: auto;
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  line-height: 28px;
  padding-top: 8px;
}

a.header-link {
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

a.header-link:hover {
  color: #ddd;
}

.search-box {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search-hidden {
  display: none;
}

.page-footer {
  margin: 20px auto;
  max-width: 100%;
  color: #ddd;
  text-align: center;
  width: 100%;
}

.filter-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter-btn {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 16px;
  padding: 10px;
  min-width: 80px;
  background: #20639B;
  color: white;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
  border: 1px solid #1C517D;
  outline: none;
}

.filter-btn.unselected {
  background: #173F5F;
}

.filter-btn:hover {
  background: #1C517D;
}

.filter-btn:first-child {
  border-top-left-radius: 4px;
}

.filter-btn.top-right {
  border-top-right-radius: 4px;
}

.filter-btn.bottom-left {
  border-bottom-left-radius: 4px;
}

.filter-btn:last-child {
  border-bottom-right-radius: 4px;
}

.project-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project {
  width: 45%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #eeeeee;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.project.project-has-image {
  min-width: 45%;
  width: auto;
}

.project-content {
  display: block;
}

.project-image {
  height: 180px;
  float: left;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin: 10px;
  border: 2px solid black;
  border-radius: 3px;
  background-color: black;
}

.project-title {
  text-align: center;
  margin: 5px;
  font-size: 24px;
}

.project-image + .project-content > .project-title {
  margin-left: 10px;
  text-align: left;
}

.project-description {
  margin: 0px 10px;
  text-align: justify;
}

.project-remark {
  margin: 5px 10px;
  text-align: justify;
  font-style: italic;
  font-size: 14px;
  color: #444;
}

.project-remark-unfinished {
  margin: 5px 10px;
  text-align: justify;
  font-style: italic;
  font-size: 14px;
  color: #E44;
}

.project-remark::before {
  content: "Note: ";
}

.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.project-image + .project-content > .project-links {
  margin-left: 10px;
  text-align: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.project-link {
  background: #eeeeee;
  border: 1px solid #777;
  padding: 5px 8px;
  text-decoration: none;
  line-height: 16px;
  -webkit-transition: 0.1s all;
  transition: 0.1s all;
}

.project-link:not(:first-child) {
  border-left: 0.5px;
}

.project-link:not(:last-child) {
  border-right: 0.5px;
}

.project-link:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.project-link:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.link-github {
  background: #24292e;
  color: #fff;
  border-color: #191c20;
}

.link-github:hover {
  color: #fff;
  background: #3a434b;
}

.link-github::before {
  background-image: url(../img/github.png);
  background-size: 16px 16px;
  background-position: left center;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  content: "";
}

.link-steam {
  background: #ccc;
  border-color: #c0c0c0;
}

.link-steam:hover {
  color: #000;
  background: #b8b8b8;
}

.link-steam::before {
  background-image: url(../img/steam.png);
  background-size: 16px 16px;
  background-position: left center;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  content: "";
}
/*# sourceMappingURL=projects.css.map */